.Banner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .BannerimgContainer {
        position: relative;
        margin: 0 auto;
        padding-block-end: 31.2%;

        .BannerSpan {
            position: absolute;
            inset: 1/1;

            .BannerImg {
                object-fit: contain;
                width: 100%;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 425px) {
    .Banner {
        .BannerimgContainer {
            .BannerSpan {
                .BannerImg {
                    object-fit: cover;
                }
            }
        }
    }
}
